.comments{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid #055591;
    border-radius: 5px;
    padding: 10px 20px;
}
.container{
    /*width: 1000px;*/
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    /*margin: 0px auto;*/
}